<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/Eleve</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
      <mapping resource="com/springapp/model/CorEntity.hbm.xml"/>
      <mapping class="com.springapp.model.CorEntity"/>
      <mapping resource="com/springapp/model/DescontoEntity.hbm.xml"/>
      <mapping class="com.springapp.model.DescontoEntity"/>
      <mapping resource="com/springapp/model/EntradaEntity.hbm.xml"/>
      <mapping class="com.springapp.model.EntradaEntity"/>
      <mapping class="com.springapp.model.LogsEntity"/>
      <mapping resource="com/springapp/model/LogsEntity.hbm.xml"/>
      <mapping class="com.springapp.model.ModeloEntity"/>
      <mapping resource="com/springapp/model/ModeloEntity.hbm.xml"/>
      <mapping resource="com/springapp/model/PrecoEntity.hbm.xml"/>
      <mapping class="com.springapp.model.PrecoEntity"/>
      <mapping class="com.springapp.model.ReferenciaEntity"/>
      <mapping resource="com/springapp/model/ReferenciaEntity.hbm.xml"/>
      <mapping class="com.springapp.model.TamanhoEntity"/>
      <mapping resource="com/springapp/model/TamanhoEntity.hbm.xml"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>